<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software Website</title>
    <link href="../output.css" rel="stylesheet" />
    <!-- css link -->
    <link rel="stylesheet" href="style.css" />
    <!-- tailwind link -->
    <!-- tailwind link -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- daisy link css -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- google font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome link from CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM/peGnHB1t+4KkQKFH5O/Dqq6D8nWzTVMk5c7r"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f07af11b35.js"
      crossorigin="anonymous"
    ></script>

    <!-- slick slider link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>
  <body>
    <header class="">
      <div class="navbar">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
            >
              <li><a>Home</a></li>
              <li><a>All Products</a></li>
              <li><a>Services</a></li>
              <li><a>Blogs</a></li>
              <li><a>About Us</a></li>
            </ul>
          </div>
          <button class="text-xl lg:ml-16">
            <img src="../assets/logo.png" alt="" />
          </button>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1 gap-16">
            <li>Home</li>
            <li>All Products</li>
            <li>Services</li>
            <li>Blogs</li>
            <li>About Us</li>
          </ul>
        </div>
        <div class="navbar-end lg:mr-6">
          <button class="btn-white">Contact Us</button>
        </div>
      </div>
    </header>
    <main class="container mx-auto">
      <!-- banner section -->
      <section class="">
        <div class="flex justify-end pt-5 pr-5">
          <div class="space-y-3">
            <div class="flex gap-2">
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
            </div>
            <div class="flex gap-2">
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
            </div>
          </div>
        </div>
        <section class="bg-white dark:bg-gray-900">
          <div
            class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
          >
            <div class="place-self-center lg:col-span-8">
              <h1 class="banner-title">
                <b
                  >Best
                  <span class="text-[#2F765D] text-[55px]"
                    >Software Development</span
                  ><br />
                  Company</b
                >
                To Architect The Dream <br />
                For <b>Next Generation</b>
              </h1>

              <p class="banner-describe">
                We help build and manage a team of world-class <br />
                developers to bring your vision to life
              </p>
            </div>

            <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
              <img
                src="../assets/banner.png"
                alt="hero image"
                class="w-full h-full object-cover"
              />
              <div
                class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
              >
                <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                  <a
                    href="#"
                    class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                  >
                    <span class="sr-only">Watch the video</span>
                    <svg
                      class="ml-1 w-4"
                      viewBox="0 0 16 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                        fill="white"
                      />
                    </svg>
                  </a>
                </div>
              </div>

              <div
                class="absolute w-[280.95px] h-[234.55px] top-[300.03px] gap-0 rounded-[29px] bg-gradient-to-b from-[#2f765d] to-[#0d2d22] flex flex-col justify-center items-center"
              >
                <h1 class="text-7xl text-white text-center font-bold">10+</h1>
                <p class="text-2xl text-white text-center font-bold">
                  Years of
                </p>
                <p class="text-2xl text-white text-center font-bold">
                  Experience
                </p>
              </div>

              <div
                class="absolute top-[380px] flex justify-end pt-5 left-[305px]"
              >
                <div class="space-y-3">
                  <div class="flex gap-2">
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                  </div>
                  <div class="flex gap-2">
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- products experience -->

      <section class="my-40 mx-32">
        <h1 class="text-[50px] font-bold text-center">Bdtask, Inc.</h1>
        <h1 class="text-[50px] font-bold text-[#2f765d] text-center">
          At a Glance
        </h1>
        <div class="grid grid-cols-3 gap-10 justify-center">
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">50+</p>
            <p class="text-2xl font-bold text-center">Project</p>
          </div>
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">50+</p>
            <p class="text-2xl font-bold text-center">Products</p>
          </div>
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">50+</p>
            <p class="text-2xl font-bold text-center">Experts</p>
          </div>
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">50+</p>
            <p class="text-2xl font-bold text-center">Countries</p>
          </div>
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">50+</p>
            <p class="text-2xl font-bold text-center">Happy Clients</p>
          </div>
          <div
            class="experience-task flex flex-col justify-center items-center"
          >
            <img src="../assets//experience-.png" alt="" class="pb-10" />
            <p class="text-[#2f765d] text-3xl font-bold text-center">10+</p>
            <p class="text-2xl font-bold text-center">Years Experienced</p>
          </div>
        </div>
      </section>

      <!-- services page -->

      <section class="bg-[#F9F9FF] my-40 mx-32">
        <h1 class="text-center font-bold text-4xl">Services we offer</h1>
        <div class="grid grid-cols-3 gap-10 items-center justify-center pt-20">
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
          <div
            class="services-Box flex flex-col justify-center items-center space-y-6"
          >
            <img src="../assets//experience-.png" alt="" />
            <p class="text-[#2f765d] text-2xl font-bold text-center">
              Business Strategy
            </p>
            <p class="text-base font-normal text-center">
              A business strategy is a powerful tool for helping you reach your
              goals, defining the methods and tactics
            </p>
          </div>
        </div>
      </section>

      <!-- case study page -->

      <section class="mx-32">
        <div class="space-y-8">
          <div class="card lg:card-side bg-base-100 shadow-xl">
            <figure>
              <img src="../assets//Case-study__image.png" alt="" class="" />
            </figure>
            <div class="card-body bg-[#f1f2ff] border border-[#e7daed]">
              <h1 class="text-3xl font-semibold pt-5">
                Website Design for SCFC Canada
              </h1>
              <p class="text-[14px] w-[529px] pt-8">
                Born out of a vision, a single-minded objective that puts
                service before anything else, Swift Clearance and Forwarding
                Corp. surging forth to deliver the best services in the shipping
                and logistics scenario. Its meteoric rise stems out of a solid
                foundation. The management boasts of over 20 years of rich and
                varied experience in the shipping and freight forwarding
                industry.
              </p>
            </div>
          </div>
          <div class="card lg:card-side bg-base-100 shadow-xl">
            <figure>
              <img src="../assets/Case-study__image (1).png" alt="" class="" />
            </figure>
            <div class="card-body bg-[#f0fff7] border border-[#e7daed]">
              <h1 class="text-3xl font-semibold pt-5">
                Website Design for SCFC Canada
              </h1>
              <p class="text-[14px] w-[529px] pt-8">
                Born out of a vision, a single-minded objective that puts
                service before anything else, Swift Clearance and Forwarding
                Corp. surging forth to deliver the best services in the shipping
                and logistics scenario. Its meteoric rise stems out of a solid
                foundation. The management boasts of over 20 years of rich and
                varied experience in the shipping and freight forwarding
                industry.
              </p>
            </div>
          </div>
          <div class="card lg:card-side bg-base-100 shadow-xl">
            <figure>
              <img src="../assets/Case-study__image (2).png" alt="" class="" />
            </figure>
            <div class="card-body bg-[#fff4f4] border border-[#e7daed]">
              <h1 class="text-3xl font-semibold pt-5">
                Website Design for SCFC Canada
              </h1>
              <p class="text-[14px] w-[529px] pt-8">
                Born out of a vision, a single-minded objective that puts
                service before anything else, Swift Clearance and Forwarding
                Corp. surging forth to deliver the best services in the shipping
                and logistics scenario. Its meteoric rise stems out of a solid
                foundation. The management boasts of over 20 years of rich and
                varied experience in the shipping and freight forwarding
                industry.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- company page -->
      <section class="mt-10 mx-32">
        <h1 class="text-center text-5xl font-bold text-[#2F765D] mt-16 mb-10">
          Company
        </h1>
        <!-- Create your own class for the containing div -->
        <div class="slick-carousel2 pt-5 company">
          <!-- Inside the containing div, add one div for each slide -->
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
          <div>
            <!-- You can put an image or text inside each slide div -->
            <div
              class="ml-3 flex flex-col justify-center items-center p-5 rounded-lg shadow-md"
            >
              <img src="../assets/Apple-Logo.png" />
              <p class="text-3xl font-bold pt-3">Apple</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Customer's Feedback page -->
      <section class="mt-16 mx-32">
        <div class="flex justify-start pt-5 pr-5">
          <div class="space-y-3">
            <div class="flex gap-2">
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
            </div>
            <div class="flex gap-2">
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
              <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
            </div>
          </div>
        </div>

        <h1 class="text-center text-5xl font-bold text-[#2F765D] mt-16">
          Our Customer's Feedback
        </h1>

        <!-- Create your own class for the containing div -->
        <div class="slick-carousel">
          <!-- Inside the containing div, add one div for each slide -->
          <div>
            <!-- You can put an image or text inside each slide div -->
            <section class="bg-white dark:bg-gray-900 relative mt-24">
              <div
                class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
              >
                <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
                  <img
                    src="../assets//feedback.png"
                    alt="hero image"
                    class="w-full h-full object-cover"
                  />
                  <div
                    class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
                  >
                    <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                      <a
                        href="#"
                        class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                      >
                        <span class="sr-only">Watch the video</span>
                        <svg
                          class="ml-1 w-4"
                          viewBox="0 0 16 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                            fill="white"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="lg:col-span-8 pl-10 flex flex-col justify-center">
                  <h1 class="text-2xl font-semibold text-[#2F765D] py-2">
                    Mahbubur Rahman
                  </h1>
                  <p class="text-xl font-medium pb-3">Owener, Softia, UK</p>

                  <p class="text-base font-normal">
                    Let our experts prepare a free home analysis for you! Just
                    fill out our Surround yourself with the quality of one of
                    Saska toon’s premier home builder. Just fill out our form.
                    Surround yourself with quality of one of Saskatoon’s premier
                    home builder.
                  </p>
                </div>
                <div
                  class="flex justify-end pt-5 pr-5 absolute right-0 bottom-0"
                >
                  <div class="space-y-3">
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div>
            <section class="bg-white dark:bg-gray-900 relative mt-24">
              <div
                class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
              >
                <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
                  <img
                    src="../assets//feedback.png"
                    alt="hero image"
                    class="w-full h-full object-cover"
                  />
                  <div
                    class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
                  >
                    <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                      <a
                        href="#"
                        class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                      >
                        <span class="sr-only">Watch the video</span>
                        <svg
                          class="ml-1 w-4"
                          viewBox="0 0 16 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                            fill="white"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="lg:col-span-8 pl-10 flex flex-col justify-center">
                  <h1 class="text-2xl font-semibold text-[#2F765D] py-2">
                    Mahbubur Rahman
                  </h1>
                  <p class="text-xl font-medium pb-3">Owener, Softia, UK</p>

                  <p class="text-base font-normal">
                    Let our experts prepare a free home analysis for you! Just
                    fill out our Surround yourself with the quality of one of
                    Saska toon’s premier home builder. Just fill out our form.
                    Surround yourself with quality of one of Saskatoon’s premier
                    home builder.
                  </p>
                </div>
                <div
                  class="flex justify-end pt-5 pr-5 absolute right-0 bottom-0"
                >
                  <div class="space-y-3">
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div>
            <section class="bg-white dark:bg-gray-900 relative mt-24">
              <div
                class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
              >
                <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
                  <img
                    src="../assets//feedback.png"
                    alt="hero image"
                    class="w-full h-full object-cover"
                  />
                  <div
                    class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
                  >
                    <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                      <a
                        href="#"
                        class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                      >
                        <span class="sr-only">Watch the video</span>
                        <svg
                          class="ml-1 w-4"
                          viewBox="0 0 16 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                            fill="white"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="lg:col-span-8 pl-10 flex flex-col justify-center">
                  <h1 class="text-2xl font-semibold text-[#2F765D] py-2">
                    Mahbubur Rahman
                  </h1>
                  <p class="text-xl font-medium pb-3">Owener, Softia, UK</p>

                  <p class="text-base font-normal">
                    Let our experts prepare a free home analysis for you! Just
                    fill out our Surround yourself with the quality of one of
                    Saska toon’s premier home builder. Just fill out our form.
                    Surround yourself with quality of one of Saskatoon’s premier
                    home builder.
                  </p>
                </div>
                <div
                  class="flex justify-end pt-5 pr-5 absolute right-0 bottom-0"
                >
                  <div class="space-y-3">
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div>
            <section class="bg-white dark:bg-gray-900 relative mt-24">
              <div
                class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
              >
                <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
                  <img
                    src="../assets//feedback.png"
                    alt="hero image"
                    class="w-full h-full object-cover"
                  />
                  <div
                    class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
                  >
                    <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                      <a
                        href="#"
                        class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                      >
                        <span class="sr-only">Watch the video</span>
                        <svg
                          class="ml-1 w-4"
                          viewBox="0 0 16 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                            fill="white"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="lg:col-span-8 pl-10 flex flex-col justify-center">
                  <h1 class="text-2xl font-semibold text-[#2F765D] py-2">
                    Mahbubur Rahman
                  </h1>
                  <p class="text-xl font-medium pb-3">Owener, Softia, UK</p>

                  <p class="text-base font-normal">
                    Let our experts prepare a free home analysis for you! Just
                    fill out our Surround yourself with the quality of one of
                    Saska toon’s premier home builder. Just fill out our form.
                    Surround yourself with quality of one of Saskatoon’s premier
                    home builder.
                  </p>
                </div>
                <div
                  class="flex justify-end pt-5 pr-5 absolute right-0 bottom-0"
                >
                  <div class="space-y-3">
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div>
            <section class="bg-white dark:bg-gray-900 relative mt-24">
              <div
                class="grid px-4 pt-20 pb-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-8"
              >
                <div class="hidden lg:mt-0 lg:col-span-4 lg:flex relative">
                  <img
                    src="../assets//feedback.png"
                    alt="hero image"
                    class="w-full h-full object-cover"
                  />
                  <div
                    class="absolute inset-y-0 inset-x-0 grid items-center justify-center"
                  >
                    <div class="bg-[#FFFFFF6E] p-5 rounded-full">
                      <a
                        href="#"
                        class="w-12 h-12 bg-[#2F765D] rounded-full ring-2 ring-white grid place-items-center hover:bg-[#2F765D] transition"
                      >
                        <span class="sr-only">Watch the video</span>
                        <svg
                          class="ml-1 w-4"
                          viewBox="0 0 16 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 1.01267e-06 17.4678 1.07997e-06 15.9282L1.68565e-06 2.0718C1.75295e-06 0.532196 1.66667 -0.430054 3 0.339746L15 7.26795Z"
                            fill="white"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="lg:col-span-8 pl-10 flex flex-col justify-center">
                  <h1 class="text-2xl font-semibold text-[#2F765D] py-2">
                    Mahbubur Rahman
                  </h1>
                  <p class="text-xl font-medium pb-3">Owener, Softia, UK</p>

                  <p class="text-base font-normal">
                    Let our experts prepare a free home analysis for you! Just
                    fill out our Surround yourself with the quality of one of
                    Saska toon’s premier home builder. Just fill out our form.
                    Surround yourself with quality of one of Saskatoon’s premier
                    home builder.
                  </p>
                </div>
                <div
                  class="flex justify-end pt-5 pr-5 absolute right-0 bottom-0"
                >
                  <div class="space-y-3">
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                    <div class="flex gap-2">
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                      <div class="w-5 h-5 rounded-full bg-[#2F765D]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>
    <footer
      class="bg-gradient-to-b from-[#2f765d] to-[#0d2d22] text-white mt-10"
    >
      <div class="container mx-auto p-10">
        <div class="footer">
          <nav class="footer-nav">
            <h6 class="footer-title">Exclusive</h6>
            <a class="">Subscribe</a>
            <a class="">Get 10% off your first order</a>
            <div>
              <p class="pt-3">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Enter your email"
                  class="footer-email relative"
                />
              </p>

              <img
                src="../assets//email-icon.png"
                alt=""
                class="absolute -mt-8 pl-40"
              />
            </div>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Support</h6>
            <a class="">Dhaka, DH 1515, Bangladesh.</a>
            <a class="">gausulislam5@gmail.com</a>
            <a class="">+8801785003901</a>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Account</h6>
            <a class="">My Account</a>
            <a class="">Login/Register</a>
            <a class="">Cart Shop</a>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Quick Link</h6>
            <a class="">Privacy Policy</a>
            <a class="">Terms Of Use</a>
            <a class="">FAQs</a>
            <a class="">Contact</a>
          </nav>
          <nav>
            <h6 class="footer-title">Download App</h6>
            <a href="" class="opacity-40 text-sm">App new user Only</a>
            <div class="flex justify-center items-center">
              <img src="../assets/Qrcode 1.png" alt="" />
              <img src="../assets/Frame 718.png" alt="" />
            </div>

            <div class="flex justify-between items-center pt-5 cursor-pointer">
              <img src="../assets/Icon-Facebook.png" alt="" />
              <img src="../assets/icon-instagram.png" alt="" class="pl-5" />
              <img src="../assets/Icon-Linkedin.png" alt="" class="pl-5" />
              <img src="../assets/Icon-Twitter.png" alt="" class="pl-5" />
            </div>
          </nav>
        </div>
        <hr class="bg-white opacity-20 my-5" />
        <p class="opacity-70 text-center p-4">@Copyright 2024. All right</p>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
