<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav Page</title>
    <link href="../output.css" rel="stylesheet" />
    <!-- css link -->
    <link rel="stylesheet" href="style.css" />
    <!-- tailwind link -->
    <!-- tailwind link -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- daisy link css -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- google font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome link from CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM/peGnHB1t+4KkQKFH5O/Dqq6D8nWzTVMk5c7r"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f07af11b35.js"
      crossorigin="anonymous"
    ></script>

    <!-- slick slider link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-start">
          <div class="lg:hidden">
            <button
              id="drawerButton"
              role="button"
              class="flex items-center text-white px-4 py-3 rounded-md hover:bg-gray-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </button>
          </div>
          <button class="text-xl lg:ml-16">
            <img src="../assets/logo.png" alt="" />
          </button>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu-horizontal px-8 gap-16">
            <li class="py-3 px-4 rounded-md hover:bg-[#0D2D22] text-white">
              Home
            </li>
            <li
              class="mega-menu py-3 px-4 rounded-md hover:bg-[#0D2D22] text-white cursor-pointer rotate-icon"
            >
              <div class="flex items-center">
                <span class="pr-2">All Products</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  class="w-8 h-8 font-bold"
                >
                  <path
                    d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"
                  />
                </svg>
                <div
                  class="men-nav-dropdown grid grid-cols-1 lg:grid-cols-3 items-center gap-8 shadow-2xl py-10 px-10"
                >
                  <!-- Dropdown content goes here -->
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-5 bg-[#DBEFF0] pl-6 py-4 rounded-md mb-5"
                  >
                    <img src="../assets/image 1.png" alt="" />
                    <div>
                      <h1 class="text-black text-lg font-bold">Website</h1>
                      <p class="text-xs text-black font-normal">
                        Multi Store eCommerce Shopping Cart Solution
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="py-2 px-4 rounded-md hover:bg-[#0D2D22] text-white">
              Services
            </li>
            <li class="py-3 px-4 rounded-md hover:bg-[#0D2D22] text-white">
              Blogs
            </li>
            <li class="py-3 px-4 rounded-md hover:bg-[#0D2D22] text-white">
              About Us
            </li>
          </ul>
        </div>
        <div class="navbar-end lg:mr-6">
          <button class="btn-white">Contact Us</button>
        </div>
      </div>
      <div
        id="drawer"
        class="fixed inset-y-0 left-0 h-full w-64 bg-white shadow-lg drawer drawer-hidden z-40"
      >
        <div class="p-4">
          <button
            id="closeDrawerButton"
            class="absolute right-5 bg-gray-500 hover:bg-gray-950 text-white px-2 py-1 rounded"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <ul class="menu p-4 absolute mt-10">
          <li><a>Home</a></li>
          <li><a>All Products</a></li>
          <li><a>Services</a></li>
          <li><a>Blogs</a></li>
          <li><a>About Us</a></li>
        </ul>
      </div>
    </header>

    <footer
    class="bg-gradient-to-b from-[#2f765d] to-[#0d2d22] text-white mt-10"
  >
    <div class="container mx-auto p-10">
      <div class="footer">
        <nav class="footer-nav">
          <h6 class="footer-title">Exclusive</h6>
          <a class="">Subscribe</a>
          <a class="">Get 10% off your first order</a>
          <div>
            <p class="pt-3">
              <input
                type="email"
                name=""
                id=""
                placeholder="Enter your email"
                class="w-[217px] md:w-36 lg:w-[217px] lg:h-[48px] h-full px-4 py-3 gap-8 rounded border-1.5 border-[#fafafa] bg-[#2f765d] outline-none"
              />
            </p>
            <img
              src="../assets/email-icon.png"
              alt=""
              class="absolute -mt-8 pl-40"
            />
          </div>
        </nav>
        <nav class="footer-nav">
          <h6 class="footer-title">Support</h6>
          <a class="">Dhaka, DH 1515, Bangladesh.</a>
          <a class="">gausulislam5@gmail.com</a>
          <a class="">+8801785003901</a>
        </nav>
        <nav class="footer-nav">
          <h6 class="footer-title">Account</h6>
          <a class="">My Account</a>
          <a class="">Login/Register</a>
          <a class="">Cart Shop</a>
        </nav>
        <nav class="footer-nav">
          <h6 class="footer-title">Quick Link</h6>
          <a class="">Privacy Policy</a>
          <a class="">Terms Of Use</a>
          <a class="">FAQs</a>
          <a class="">Contact</a>
        </nav>
        <nav>
          <h6 class="footer-title">Download App</h6>
          <a href="" class="opacity-40 text-sm">App new user Only</a>
          <div class="flex justify-center items-center">
            <img
              src="../assets/Qrcode 1.png"
              alt=""
              class="w-20 md:w-14 lg:w-20"
            />
            <img
              src="../assets/Frame 718.png"
              alt=""
              class="w-20 md:w-14 lg:w-20"
            />
          </div>
          <div class="flex justify-between items-center pt-5 cursor-pointer">
            <img src="../assets/Icon-Facebook.png" alt="" />
            <img
              src="../assets/icon-instagram.png"
              alt=""
              class="pl-5 md:pl-2"
            />
            <img
              src="../assets/Icon-Linkedin.png"
              alt=""
              class="pl-5 md:pl-2"
            />
            <img
              src="../assets/Icon-Twitter.png"
              alt=""
              class="pl-5 md:pl-2"
            />
          </div>
        </nav>
      </div>
      <hr class="bg-white opacity-20 my-5" />
      <p class="opacity-70 text-center p-4">@Copyright 2024. All right</p>
    </div>
  </footer>
    <script src="script.js"></script>
  </body>
</html>
