<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website</title>
    <link href="../output.css" rel="stylesheet" />
    <!-- css link -->
    <link rel="stylesheet" href="style.css" />
    <!-- tailwind link -->
    <!-- tailwind link -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- daisy link css -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- google font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome link from CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM/peGnHB1t+4KkQKFH5O/Dqq6D8nWzTVMk5c7r"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f07af11b35.js"
      crossorigin="anonymous"
    ></script>

    <!-- slick slider link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>
  <body>
    <header class="">
      <div class="navbar">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
            >
              <li><a>Home</a></li>
              <li><a>All Products</a></li>
              <li><a>Services</a></li>
              <li><a>Blogs</a></li>
              <li><a>About Us</a></li>
            </ul>
          </div>
          <button class="text-xl lg:ml-16">
            <img src="../assets/logo.png" alt="" />
          </button>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1 gap-16">
            <li>Home</li>
            <li>All Products</li>
            <li>Services</li>
            <li>Blogs</li>
            <li>About Us</li>
          </ul>
        </div>
        <div class="navbar-end lg:mr-6">
          <button class="btn-white">Contact Us</button>
        </div>
      </div>
    </header>

    <main>
      <!-- banner page -->
      <section>
        <section class="bg-white dark:bg-gray-900">
          <div
            class="grid max-w-screen-xl px-4 pt-10 pb-8 mx-auto md:gap-8 lg:gap-0 md:py-16 md:grid-cols-12 md:pt-10"
          >
            <div class="mr-auto place-self-center md:col-span-7">
              <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white"
              >
                Next Generation <br />
                Multi-Store <br />
                <span class="text-[#2F765D]"> Ecommerce Shopping</span> <br />
                Cart Software
              </h1>

              <p
                class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
              >
                Now it’s your time to empower your e-commerce business with our
                fast and secure multi-store e-commerce shopping cart software. A
                perfect eCommerce solution for any type of e-commerce business,
                small, medium, or large.
              </p>

              <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a
                  href=""
                  target="_blank"
                  class="inline-flex items-center justify-center w-full px-10 py-3 text-sm font-bold text-center text-white bg-[#2F765D] border border-gray-200 rounded-lg sm:w-auto focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                >
                  Buy Now
                </a>

                <a
                  href=""
                  target="_blank"
                  class="inline-flex items-center justify-center w-full px-10 py-3 mb-2 mr-2 text-sm font-bold text-white bg-[#323232] border border-gray-200 rounded-lg sm:w-auto focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  Demo
                </a>
              </div>
            </div>

            <div
              class="md:mt-0 md:col-span-5 md:flex order-first sm:order-last"
            >
              <img
                src="../assets//banner-2.png"
                alt="hero image"
                class="w-full"
              />
            </div>
          </div>
        </section>
      </section>
      <!-- demo page -->
      <section>
        <h1 class="text-5xl text-[#2F765D] font-bold text-center">
          View The Demo Panels
        </h1>
        <p class="text-2xl text-center pt-5">
          Click and view the demo for your e-commerce platform
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3">
          <div>
            <img src="../assets//banner-2.png" alt="" />
            <p class="text-2xl md:text-lg text-center font-bold">
              Click For Website Demo
            </p>
          </div>
          <div>
            <img src="../assets//banner-2.png" alt="" />
            <p class="text-2xl md:text-lg text-center font-bold">
              Click For Website Demo
            </p>
          </div>
          <div>
            <img src="../assets//banner-2.png" alt="" />
            <p class="text-2xl md:text-lg text-center font-bold">
              Click For Website Demo
            </p>
          </div>
        </div>
      </section>
      <!-- dashboard page -->
      <section class="mt-20">
        <h1 class="text-5xl text-[#2F765D] font-bold text-center">
          Main Modules of Isshue- eCommerce Shopping <br />
          Cart Software
        </h1>
        <p class="text-center py-8">
          Isshue-multi-store eCommerce shopping cart Software is full of some
          expeditious <br />
          powerful features to operate your business hassle-free and smoothly.
        </p>
        <div class="lg:flex bg-[#DBEFF0]">
          <ul
            class="lg:pl-10 pt-20 pb-10 flex-column space-y space-y-8 text-lg font-semibold text-gray-500 md:me-4 mb-4 md:mb-0 md:border-r-2 md:border-black"
            id="tabList"
          >
            <li class="md:pr-5">
              <a
                class="inline-flex items-center justify-center px-4 py-3 text-white bg-[#2F765D] rounded-lg active w-full shadow-md lg:w-[350px]"
                aria-current="page"
                id="profileTab"
              >
                Dynamic Dashboard
              </a>
            </li>
            <li class="md:pr-5">
              <a
                class="inline-flex items-center justify-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-300 w-full shadow-md lg:w-[350px]"
                id="dashboardTab"
              >
                E-Commerce Pos System
              </a>
            </li>
            <li class="md:pr-5">
              <a
                class="inline-flex items-center justify-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-300 w-full shadow-md lg:w-[350px]"
                id="settingsTab"
              >
                Oder Management System
              </a>
            </li>
          </ul>
          <div
            class="p-6 text-medium text-gray-500 rounded-lg w-full"
            id="tabContent"
          >
            <div class="flex">
              <div id="profileContent" class="tab-pane">
                <div class="grid grid-cols-1 md:grid-cols-2 justify-between">
                  <div>
                    <h1 class="text-3xl font-medium pt-10 text-black pb-5">
                      Dynamic Dashboard
                    </h1>
                    <p class="text-lg text-black leading-10">
                      Isshue comes up with a dynamic dashboard using which you
                      can get a quick view of the entire e-commerce business on
                      one screen Besides, using this dynamic dashboard you can
                      easily add any POS invoices, add customers add products,
                      view sales & purchase reports and many more. Hence, can
                      control & view the total online business (customer
                      activities, monthly progress report, search keywords,
                      top-selling products, and product reviews).
                    </p>
                  </div>
                  <img src="../assets//image 4.png" alt="" class="mt-10" />
                </div>
              </div>
              <div id="dashboardContent" class="tab-pane" style="display: none">
                <div class="grid grid-cols-1 md:grid-cols-2 justify-between">
                  <div>
                    <h1 class="text-3xl font-medium pt-10 text-black pb-5">
                      Ecommerce Dashboard
                    </h1>
                    <p class="text-lg text-black leading-10">
                      Isshue comes up with a dynamic dashboard using which you
                      can get a quick view of the entire e-commerce business on
                      one screen Besides, using this dynamic dashboard you can
                      easily add any POS invoices, add customers add products,
                      view sales & purchase reports and many more. Hence, can
                      control & view the total online business (customer
                      activities, monthly progress report, search keywords,
                      top-selling products, and product reviews).
                    </p>
                  </div>
                  <img src="../assets//image 4.png" alt="" class="mt-10" />
                </div>
              </div>
              <div id="settingsContent" class="tab-pane" style="display: none">
                <div class="grid grid-cols-1 md:grid-cols-2 justify-between">
                  <div>
                    <h1 class="text-3xl font-medium pt-10 text-black pb-5">
                      Order management System
                    </h1>
                    <p class="text-lg text-black leading-10">
                      Isshue comes up with a dynamic dashboard using which you
                      can get a quick view of the entire e-commerce business on
                      one screen Besides, using this dynamic dashboard you can
                      easily add any POS invoices, add customers add products,
                      view sales & purchase reports and many more. Hence, can
                      control & view the total online business (customer
                      activities, monthly progress report, search keywords,
                      top-selling products, and product reviews).
                    </p>
                  </div>
                  <img src="../assets//image 4.png" alt="" class="mt-10" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- best price plans -->
      <section class="mt-20">
        <h1 class="text-5xl text-[#2F765D] font-bold text-center">
          The Best Pricing Plan
        </h1>
        <div class="py-24">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!--Grid-->
            <div
              class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center"
            >
              <!--Pricing Card-->
              <div
                class="flex flex-col mx-auto max-w-sm text-gray-900 rounded-2xl bg-gray-50 p-6 xl:py-9 xl:px-12 transition-all duration-500 hover:bg-gray-100 shadow-lg"
              >
                <h3 class="text-3xl font-medium mb-2">Basic</h3>
                <p class="text-base text-[#6C757D] font-normal mb-3">
                  Most Popular
                </p>
                <div
                  class="flex items-center justify-center mt-6 text-[1D1D1D]"
                >
                  <span class="font-semibold text-2xl">$</span>
                  <span class="text-5xl font-bold">0</span>
                  <span class="text-2xl font-semibold">/ mo</span>
                </div>
                <div class="flex items-center justify-center gap-4 py-6">
                  <p class="text-lg font-semibold">Yearly</p>
                  <p class="bg-[#E8E8E8] px-4 py-2 rounded-md w-24 text-base">
                    15%off
                  </p>
                </div>
                <!--List-->
                <ul class="mb-12 space-y-6 text-left text-lg text-gray-500">
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>2 auto tracking</span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>7 Day transaction clearing </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>24/7 Customer support </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>All widget access</span>
                  </li>
                </ul>
                <button
                  class="py-3 px-8 bg-black shadow-sm rounded-lg transition-all duration-500 text-base text-white font-semibold text-center w-fit mx-auto"
                >
                  Buy Now
                </button>
                <!--List End-->
              </div>
              <!--Pricing Card-->
              <div
                class="flex flex-col mx-auto max-w-sm text-white rounded-2xl bg-gradient-to-b from-[#2f765d] to-[#0d2d22] p-6 xl:py-9 xl:px-12 transition-all duration-500 shadow-lg"
              >
                <h3 class="text-3xl font-medium mb-2">Standard</h3>
                <p class="text-base font-normal mb-3">Recommended</p>
                <div
                  class="flex items-center justify-center mt-6 text-[1D1D1D]"
                >
                  <span class="font-semibold text-2xl">$</span>
                  <span class="text-5xl font-bold">10.25</span>
                  <span class="text-2xl font-semibold">/ mo</span>
                </div>
                <div class="flex items-center justify-center gap-4 py-6">
                  <p class="text-lg font-semibold">Yearly</p>
                  <p
                    class="bg-[#E8E8E8] px-4 py-2 rounded-md w-24 text-base text-black font-bold"
                  >
                    15%off
                  </p>
                </div>
                <!--List-->
                <ul class="mb-12 space-y-6 text-left text-lg text-white">
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-white"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>2 auto tracking</span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-white"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>7 Day transaction clearing </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-white"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>24/7 Customer support </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-white"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>All widget access</span>
                  </li>
                </ul>
                <button
                  class="py-3 px-8 bg-white shadow-sm rounded-lg transition-all duration-500 text-base text-black font-semibold text-center w-fit mx-auto"
                >
                  Buy Now
                </button>
                <!--List End-->
              </div>
              <!--Pricing Card-->
              <div
                class="flex flex-col mx-auto max-w-sm text-gray-900 rounded-2xl bg-gray-50 p-6 xl:py-9 xl:px-12 transition-all duration-500 hover:bg-gray-100 shadow-lg"
              >
                <h3 class="text-3xl font-medium mb-2">Premium</h3>
                <p class="text-base text-[#6C757D] font-normal mb-3">
                  Best Value
                </p>
                <div
                  class="flex items-center justify-center mt-6 text-[1D1D1D]"
                >
                  <span class="font-semibold text-2xl">$</span>
                  <span class="text-5xl font-bold">10.25</span>
                  <span class="text-2xl font-semibold">/ mo</span>
                </div>
                <div class="flex items-center justify-center gap-4 py-6">
                  <p class="text-lg font-semibold">Yearly</p>
                  <p class="bg-[#E8E8E8] px-4 py-2 rounded-md w-24 text-base">
                    15%off
                  </p>
                </div>
                <!--List-->
                <ul class="mb-12 space-y-6 text-left text-lg text-gray-500">
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>2 auto tracking</span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>7 Day transaction clearing </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>24/7 Customer support </span>
                  </li>
                  <li class="flex items-center space-x-4">
                    <!-- Icon -->
                    <svg
                      class="flex-shrink-0 w-6 h-6 text-indigo-600"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span>All widget access</span>
                  </li>
                </ul>
                <button
                  class="py-3 px-8 bg-black shadow-sm rounded-lg transition-all duration-500 text-base text-white font-semibold text-center w-fit mx-auto"
                >
                  Buy Now
                </button>
                <!--List End-->
              </div>
            </div>
            <!--Grid End-->
          </div>
        </div>
      </section>

      <!-- recomandation page -->
      <section class="lg:mx-32 mx-7">
        <h1 class="text-5xl text-[#2F765D] font-bold text-center">
          Happy You, Happy Us <br />
          Platform To Customize Your Happiness
        </h1>
        <div class="slick-carousel3 gap-3 mt-20 mb-20">
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
          <div class="p-6 rounded-lg mx-auto bg-gray-100 relative ml-3">
            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">
                Let our experts prepare a free home analysis for you! Just fill
                out our Surround yourself with the quality of one of Saska
                toon’s premier home builder. Just fill out our form. Surround
                yourself with quality of one of Saskatoon’s premier home
                builder.
              </p>
            </div>
            <div class="flex flex-wrap items-center gap-4 mt-6">
              <img
                src="https://readymadeui.com/team-2.webp"
                class="w-14 h-14 rounded-full border-4 border-white"
              />
              <div>
                <h4 class="text-gray-800 text-sm whitespace-nowrap font-bold">
                  John Doe
                </h4>
                <p class="mt-0.5 text-xs text-gray-600">Founder of Rubik</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer
      class="bg-gradient-to-b from-[#2f765d] to-[#0d2d22] text-white mt-10"
    >
      <div class="container mx-auto p-10">
        <div class="footer">
          <nav class="footer-nav">
            <h6 class="footer-title">Exclusive</h6>
            <a class="">Subscribe</a>
            <a class="">Get 10% off your first order</a>
            <div>
              <p class="pt-3">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Enter your email"
                  class="footer-email relative"
                />
              </p>

              <img
                src="../assets//email-icon.png"
                alt=""
                class="absolute -mt-8 pl-40"
              />
            </div>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Support</h6>
            <a class="">Dhaka, DH 1515, Bangladesh.</a>
            <a class="">gausulislam5@gmail.com</a>
            <a class="">+8801785003901</a>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Account</h6>
            <a class="">My Account</a>
            <a class="">Login/Register</a>
            <a class="">Cart Shop</a>
          </nav>
          <nav class="footer-nav">
            <h6 class="footer-title">Quick Link</h6>
            <a class="">Privacy Policy</a>
            <a class="">Terms Of Use</a>
            <a class="">FAQs</a>
            <a class="">Contact</a>
          </nav>
          <nav>
            <h6 class="footer-title">Download App</h6>
            <a href="" class="opacity-40 text-sm">App new user Only</a>
            <div class="flex justify-center items-center">
              <img src="../assets/Qrcode 1.png" alt="" />
              <img src="../assets/Frame 718.png" alt="" />
            </div>

            <div class="flex justify-between items-center pt-5 cursor-pointer">
              <img src="../assets/Icon-Facebook.png" alt="" />
              <img src="../assets/icon-instagram.png" alt="" class="pl-5" />
              <img src="../assets/Icon-Linkedin.png" alt="" class="pl-5" />
              <img src="../assets/Icon-Twitter.png" alt="" class="pl-5" />
            </div>
          </nav>
        </div>
        <hr class="bg-white opacity-20 my-5" />
        <p class="opacity-70 text-center p-4">@Copyright 2024. All right</p>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
